/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--card-text-weight, 400);
  font-size: 18px;
  background-image: var(--gradient);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color, #fff);
  margin: 100px 0px 98px;
  padding: 130px 0px;
  inline-size: var(--header-inline-size, 100%);
  font-family: var(--accent-font, fantasy);
  outline: var(--outline-style);
}

.header-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header-text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  gap: 50px;
}

.card {
  background-color: var(--bg-color);
  inline-size: var(--content-inline-size, 100%);
  border: 2px solid black;
}

.card-title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-title-weight, 700);
  border-bottom: 2px solid var(--main-text-color, #000);
  padding: 4px 10px;
}

.img-box {
  position: relative;
}

.card-img__text {
  position: absolute;
  top: 28px;
  right: 26px;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  text-shadow: 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, -1px -1px 0 #fff;
  opacity: 50%;
  mix-blend-mode: hard-light;
}

.card-img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  outline: var(--outline-style);
}

.card-description {
  font-variation-settings: 'wght' var(--card-text-weight, 410);
  padding: 26px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.card-text {
  font-size: 18px;
  line-height: 21px;
}

.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  block-size: 38px;
}

.card__icon-button {
  display: grid;
  place-items: center;
  padding: 0px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border-color: var(--hover-fill-color, #000);
}

.card__like-icon {
  transform-origin: center;
}
.card__like-icon:focus {
  outline: none;
}

.card__like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s;
}
.svg-heart__contour {
  fill: var(--hover-fill-color, #000);
  transition: fill 0.1s linear;
}

.svg-heart__core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}
.card__like-icon:hover .svg-heart__core {
  fill: var(--hover-fill-color, #000);
  transition-delay: 0s;
}
.card__like-icon:active .svg-heart__core {
  fill: var(--animation-fill-color, #FF0000);
  transition-delay: 0s;
}

.svg-heart__main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}
.card__like-icon:hover .svg-heart__main-body {
  fill: var(--hover-fill-color, #000);
  transition-delay: 0.05s;
}
.card__like-icon:active .svg-heart__main-body {
  fill: var(--animation-fill-color, #FF0000);
  transition-delay: 0.05s;
}

.svg-heart__sparks {
  opacity: 0;
}
.card__like-icon.is-liked .svg-heart__sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s;
}

.card__like-icon.is-liked .svg-heart__contour {
  fill: var(--animation-fill-color, #FF0000);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}
.card__like-icon.is-liked .svg-heart__main-body {
  fill: var(--animation-fill-color, #FF0000);
  transition-delay: 0.05s;
}
.card__like-icon.is-liked .svg-heart__core {
  fill: var(--animation-fill-color, #FF0000);
  transition-delay: 0s;
}

.interactive-btn {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color, #fff);
  color: var(--main-text-color, #000);
  padding: 0px;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  line-height: 90%;
  transition: box-shadow 0.3s ease, transform 0.5s ease-in-out;
}

.card__like-button {
  block-size: 40px;
  inline-size: 128px;
  border: var(--outline-style);
}

.interactive-btn::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-text-color, #000);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}
.interactive-btn:hover::before {
  transform: scaleX(1);
}
.interactive-btn:focus {
  outline: none;
  border: 2px solid #000;
}
.interactive-btn:focus-visible {
  border: 2px solid #000;
  box-shadow: 2px 2px 0px #000;
}

.save-button {
  block-size: 55px;
  inline-size: 335px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: var(--outline-style);
}

.button__text {
  font-variation-settings: 'wght' var(--card-text-weight, 410);
  position: relative;
  z-index: 2;
  margin-left: 8px;
  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
}

.save-button__icon {
  position: relative;
  z-index: 2;
  display: block;
  block-size: 21px;
  inline-size: 21px;
  fill: var(--bg-color, #fff);
  mix-blend-mode: difference;
}
.save-button__icon use {
  fill: inherit;
}

.dialog[open] {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  inline-size: 353px;
  font-family: var(--accent-font);
  border: none;
}
.dialog[open]::backdrop {
  background-color: #000;
  opacity: 75%;
}

.dialog[open] .dialog__text-box {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-variation-settings: 'wght' var(--card-text-weight, 410);
}

.dialog__icon {
  display: block;
  width: 39px;
  height: 39px;
  object-fit: contain;
  object-position: center;
}

.dialog__text {
  text-transform: uppercase;
  text-align: start;
  font-size: 14px;
  line-height: 150%;
}

.dialog__btn {
  text-transform: uppercase;
  block-size: 38px;
  inline-size: 293px;
  text-align: center;
}

.card-img__bus {
  filter: contrast(1.3);
}

.card-img__сlean-cheat {
  filter: saturate(0.8) contrast(1.4);
}

.card-img__thoughts {
  filter: grayscale(1);
}

.card-img__run {
  filter: blur(0.2rem);
}

.card-img__support {
  filter: brightness(110%);
}

.card-img__computers {
  filter: hue-rotate(134deg) contrast(1.3);
}

.card-img__relax {
  filter: contrast(3);
}

.card-img__way {
  filter: sepia(80%);
}
@supports (-webkit-text-stroke: 1px #fff) {
  .card-img__text {
    -webkit-text-stroke: 1px #fff;
  }
}

@media (width <= 375px) {
  .header {
    outline: none;
    border: var(--outline-style);
    margin-bottom: 100px;
    padding: 122px 0px;
  }
  .header-title {
    margin-bottom: 18px;
  }
  .card-title {
    padding: 5px 10px;
  }
  .card-img__text {
    right: 25px;
    top: 27px;
  }
  .card-description {
    gap: 25px;
  }
  .card__like-button {
    outline: none;
    border: var(--outline-style) ;
  }
  .save-button {
    flex-direction: column;
    block-size: 84px;
    inline-size: 306px;
    gap: 8px;
  }
  .save-button__icon {
    display: block;
    block-size: 28px;
    inline-size: 28px;
  }
}