/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --gradient:
    repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a 100%);
  --card-text-weight: 410;
  --card-title-weight: 715;
  --header-inline-size: clamp(375px, calc(100% - 4px),700px);
  --content-inline-size: clamp(375px, 100%,700px);
  --bg-color: #fff;
  --main-text-color: #000;
  --hover-fill-color: #000;
  --animation-fill-color: #FF0000;
  --outline-style: 2px solid var(--main-text-color, #000);
}